.mae-list {
    max-width: 80vw;
    height: 100vh;
    margin-left: 320px;
    margin-right: 56px;
}

.name{
    display: flex;
    gap: 7rem;
}

.item{
    display: flex;
    height: 50px;
    gap: 10px;
    align-items: center;
}