.mae-list {
    width: 95%;
    height: 99vh;
    overflow-y: auto;
    border: 1px solid red;
    margin-left: 65px;
}

.name{
    display: flex;
    gap: 7rem;
}

.item{
    display: flex;
    height: 50px;
    gap: 10px;
    align-items: center;
}