.mae-list {
    max-width: 100%;
    height: 100%;
}

.c-list-prod{
    display: flex;
    padding: 0px 50px 0px 100px;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.transp{
    display: flex;
    width: 800px;
    overflow: auto;
    flex-direction: column;
    white-space: nowrap;
}

.name-list{
    font-size: 23px;
    margin-right: 20px;
}

.btn-new{
    padding: 10px 15px;
    background: linear-gradient(45deg, #005f8f, #7d002f);;
    text-decoration: none;
    color: white;
    border-radius: 7px;
    margin-left: 20px;
}

.h-list{
    display: flex;
    background: white;
    padding: 0px 20px;
    border-radius: 20px;
    overflow: auto;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 7px 1px;;
}

.search {
    padding: 7px 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.miolo{
    margin: 20px 0px;
    overflow: auto;
    height: 500px;

}

.name {
    font-size: 18px;
    position: sticky;
    top: 0;
}

.name, .item{
    display: grid;
    grid-template-columns: 9% 34% 13% 44%;
    justify-items: center;
    height: 55px;
    background: white;
    align-items: center;
    margin: 20px 0px;
    padding: 0px 20px;
    border-radius: 20px;
    min-width: 630px;
    box-shadow: 0px 2px 5px 0;
}

.c-btn{
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
}

.edit {
    background: #ffe000;
    color: black;
}

.delete{
    background: #d10000;
    color: white;
}

.detail{
    background: #1967f5;
    color: white;
}

.btn-cursor{
    padding: 7px 15px;
    text-decoration: none;
    border-radius: 7px;
    font-weight: 500;
}

h2{
    font-weight: 400;
}
