.sidebar{
    position: fixed;
    width: 50px;
    height: 100vh;
    background-color: white;
    border-radius: 10px;
}

.c-side{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lists{
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.c-icons{
    height: 100%;
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.im{
    width: 30px;
}

@media screen and (max-width:500px){
    .sidebar{
        width: 100%;
        height: 70px;
        bottom: 0;
    }

    .c-header {
        padding: 0px 20px !important;
    }

    .miolo{
        height: 60vh;
    }

    .c-side{
        display: block;
    }

    .c-icons{
        padding: 0px 20px;
        flex-direction: row;
    }

    .lists{
        flex-direction: row;
    }

    .c-list-prod{
        height: 85vh;
        padding: 0px 50px 0px 50px;
    }
}