@media screen and (max-width:500px){

    .sidebar{
        width: 100%;
        height: 70px;
        bottom: 0;
    }

    .c-header {
        padding: 20px;
        margin: 0px;
    }

    .core{
        height: 50vh;
    }

    .c-side{
        display: block;
    }

    .c-icons{
        padding: 0px 20px;
        flex-direction: row;
    }

    .lists{
        flex-direction: row;
    }

    .c-products{
        max-width: 100%;
        height: 80vh;
        padding: 0px 50px 0px 50px;
    }

    .left-login {
        display: none;
    }

    .right-login {
        width: 100%;
    }

    .card-register{
        overflow: auto;
    }
}

@media screen and (max-width: 1024px){
    .get-text{
        font-size: 30px;
    }

    p-left{
        font-size: 10px;
    }

    .card-login, .card-register {
        width: 80%;
    }
}